<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Basics<br></h3>

In [1]:
# What is your name! print your name! 
# Only use one print function

# Using the print() function to display my name
# \n creates a new line if you want to add more text
print("Piyu")

Piyu

* `()` <= `Parentheses`
* `''` <= `Single Quotes`
* `""` <= `Double Quotes`
* `\n` <= `New_line `
* `#` <= `Used to comment inside code`

In [2]:
# define variables named as with values: mukesh=7, z=6, rohan=5, longitude=4

# Assigning integer values to variables
# Variable assignment uses the = operator
mukesh = 7      # Assigning 7 to variable mukesh
z = 6           # Assigning 6 to variable z
rohan = 5       # Assigning 5 to variable rohan
longitude = 4   # Assigning 4 to variable longitude

In [3]:
# print required variable
# output - 5

# Printing the variable 'rohan' which has value 5
print(rohan)  # Output: 5

5

Variable Assignment:
**`Variable_Name = Value`**

Variables Naming Rules:
* `Python is case-senstive` => x=5 is different from X=5 (one is lowe and other is upper case)
* `var name can't start with special character except underscore(_)` => _X = 7 is `valid`, @X = 7 is `invalid`
* `var name can't start with number` => 9X = 7 is `invalid`, X9 = 7 is `valid`
* can't use `keywords` as a variable name
    *

# **`Declaring a Variable`** <br>

In [4]:
# declare 4 variables with values as: ur_age 21,ur_weight 50.6, ur_first_name = 'Mukesh',ur_last_name = "Manral"

# Declaring variables with different data types
ur_age = 21                  # Integer (int) - whole number
ur_weight = 50.6             # Float - decimal number
ur_first_name = 'Mukesh'     # String using single quotes
ur_last_name = "Manral"      # String using double quotes (both work the same)

# **`Data Type(Type of variable)`**

| Name | Type | Description |
| ---- | ---- | ----| 
|Integers | int | Integer number, like 34,-56 ...|
|Float | float | Decimal number, like 3.4,-5.6 ...|
|String| str | Ordered sequence of characters, like 'your name' |
|Boolean |bool |Logical values indicating True or False only |

In [5]:
# print type of ur_age,ur_weight,ur_first_name,ur_last_name variables

# type() function returns the data type of a variable
print(type(ur_age))         # <class 'int'> - Integer type
print(type(ur_weight))      # <class 'float'> - Float/Decimal type
print(type(ur_first_name))  # <class 'str'> - String type
print(type(ur_last_name))   # <class 'str'> - String type

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [6]:
# print values of ur_age,ur_weight,ur_first_name,ur_last_name variables

# Printing all variable values
print(ur_age)         # Output: 21
print(ur_weight)      # Output: 50.6
print(ur_first_name)  # Output: Mukesh
print(ur_last_name)   # Output: Manral

21
50.6
Mukesh
Manral

In [7]:
# make 2 variables with values as: ur_first_name 'Mukesh',ur_last_name'Mukesh' 

# Assigning same string value to both variables
ur_first_name = 'Mukesh'
ur_last_name = 'Mukesh'

# make a variable TrueOrFalse which will have comparison of variables ur_last_name == ur_first_name 

# == is the equality comparison operator
# It returns True if both values are equal, False otherwise
TrueOrFalse = ur_last_name == ur_first_name

print(TrueOrFalse)  # Output: True (because both are 'Mukesh')

True

In [8]:
# define a variable name "x" and assign value 777 and print it

# Creating variable x and assigning integer value 777
x = 777

# Printing the value of x
print(x)  # Output: 777

777

* To view some data on screen, python have `print` function
    * Using `print` function we can control view on output screen

`Operators`: Symbols that represent mathematical or logical tasks 

Example:<br>
`700` `+` `77`<br>
* `+` <= Operator
* `700` & `77` <= Operands

In [9]:
# Initialize variables [x,y,z,zz] with values 
## x as 7 =>int ,
## y as 77 =>int, 
## z as 77.7 => float, 
## zz as 'Hi' => string

# Initializing variables with different data types
x = 7       # Integer
y = 77      # Integer
z = 77.7    # Float (decimal number)
zz = 'Hi'   # String

# **`Arithmetic Operators`**

In [10]:
# add x and z

# Addition operator (+) adds two numbers
result = x + z
print(result)  # Output: 84.7 (7 + 77.7)

84.7

In [11]:
# subtract z and y

# Subtraction operator (-) subtracts second number from first
result = z - y
print(result)  # Output: 0.7 (77.7 - 77)

0.7000000000000028

In [12]:
# Multiply x and z

# Multiplication operator (*) multiplies two numbers
result = x * z
print(result)  # Output: 543.9 (7 * 77.7)

543.9

In [13]:
# Exponent (raise the power or times) x times z

# Exponentiation operator (**) raises first number to the power of second
result = x ** z
print(result)  # Output: 7^77.7 (a very large number!)

4.614426248242042e+65

In [14]:
# division on x and z

# Division operator (/) divides first number by second
# Always returns a float result
result = x / z
print(result)  # Output: 0.0900... (7 / 77.7)

0.09009009009009009

`//` => divides and returns integer value of quotient
* It will dump digits after decimal

In [15]:
# floor division(ignores decimal) on x and z (gives quotient)

# Floor division operator (//) divides and returns the integer part only
# It rounds down to the nearest whole number
result = x // z
print(result)  # Output: 0.0 (7 // 77.7 = 0, as 7 is less than 77.7)

0.0

In [16]:
# Modulo(gives remainder) on x and z

# Modulo operator (%) returns the remainder after division
result = x % z
print(result)  # Output: 7.0 (remainder when 7 is divided by 77.7)

7.0

# **`Comparison Operators`**

In [17]:
# comapre and see if x is less then z 
# can use '<' symbol

# Less than operator (<) returns True if left operand is smaller
result = x < z
print(result)  # Output: True (7 < 77.7)

True

In [18]:
# check the type of above comaprison where it says comapre and see if x is less then z 

# Comparison operators return Boolean values (True/False)
result = x < z
print(type(result))  # Output: <class 'bool'>

<class 'bool'>

* `Bool` => takes two values, either `True` or `False`

In [19]:
# compare and see if x is less then or equall to z
# can use '<=' symbol

# Less than or equal to operator (<=)
result = x <= z
print(result)  # Output: True (7 <= 77.7)

True

In [20]:
# comapre and see if x equall to z
# can use '==' symbol

# Equality operator (==) checks if two values are equal
result = x == z
print(result)  # Output: False (7 is not equal to 77.7)

False

In [21]:
# comapre and see if x is greater than z
# can use '>' symbol

# Greater than operator (>)
result = x > z
print(result)  # Output: False (7 is not greater than 77.7)

False

In [22]:
# comapre and see if x is greater than or equall to z
# can use '>=' symbol

# Greater than or equal to operator (>=)
result = x >= z
print(result)  # Output: False (7 is neither greater than nor equal to 77.7)

False

In [23]:
# comapre and see if x is Not equall to z
# can use '!=' symbol

# Not equal operator (!=) returns True if values are different
result = x != z
print(result)  # Output: True (7 is not equal to 77.7)

True

# **`Logical Operators`**

In [24]:
# compare if 108 is equall to 108, 21 is equall to 21 using logical and 
# equall to => '=='
# logical and => and

# in and both condition must be True to get a True

# Logical AND: Both conditions must be True for result to be True
result = (108 == 108) and (21 == 21)
print(result)  # Output: True (both conditions are True)

True

In [25]:
# how above condition can give False as output show all those conditions

# For AND to return False, at least one condition must be False
print((108 == 108) and (21 == 22))  # False - second condition is False
print((108 == 107) and (21 == 21))  # False - first condition is False
print((108 == 107) and (21 == 22))  # False - both conditions are False

False
False
False

In [26]:
# compare if 108 is equall to 108, 21 is equall to 11 using logical or
# equall to => '=='
# logical or => or

# in or Only one condition need to be True to get a True

# Logical OR: At least one condition must be True for result to be True
result = (108 == 108) or (21 == 11)
print(result)  # Output: True (first condition is True, that's enough for OR)

True

In [27]:
# this is for you to understand it
(108 == 108) or (21 == 11) or (108 <= 11)

True

# **`if`--- `else`** => to handle single condition <br>
# **`if`--- `elif`--- `else`** => to handle Multiple condition

`Observe in Python code:` 
* `if` => statement in python
* `else` => statement in python
* `:` => colon => denotes start of if block i.e. any line written after colon belong to if condition
* `....` => see then as indentation i.e. 4 spaces => indentation indicates all code belong to only if and then another indentation indicates code for only else block

In [28]:
# make variable with value as : money 100000

# see output of money > 2000 

# Assigning value to money variable
money = 100000

# Comparing if money is greater than 2000
print(money > 2000)  # Output: True (100000 > 2000)

True

In [29]:
# assign money variable value of 10000
##### say you have this much ammount in your account

money = 10000  # Assigning value to money

# start of if condition
# if money is greater then 1000 which is data science course free
# if money > 1000 is false i.e. you have less money then 1000 in your account then else will work for now only if is working

# if-else statement: executes different blocks based on condition
if money > 1000:
    # This block runs if condition is True
    print("You can afford the Data Science course!")
    print("Your balance:", money)
else:
    # This block runs if condition is False
    print("Sorry, you don't have enough money for the course")

You can afford the Data Science course!
Your balance: 10000

In [30]:
# take a test_score variable with 80 in it.

test_score = 80  # Student's test score

# if test_score greater then 80 then print A grade
# elif test_score greater then 60 and less then 80 print B grade
# else print Nothing for you

# if-elif-else ladder for multiple conditions
if test_score > 80:
    # First condition: score above 80
    print("A grade")
elif test_score > 60 and test_score <= 80:
    # Second condition: score between 61-80
    print("B grade")
else:
    # Default case: score 60 or below
    print("Nothing for you")

B grade

# **`Python Loops`**

In [31]:
"""
for iterating_variable in sequence:
    statement(s)
"""

'\nfor iterating_variable in sequence:\n    statement(s)\n'

In [32]:
for iterating_variable in range(10):
    print(iterating_variable)

0
1
2
3
4
5
6
7
8
9

In [33]:
# print 'I love sports' 10 times using for loop

# for loop iterates over a sequence (here, range(10) gives 0-9)
for i in range(10):
    # This statement executes 10 times
    print('I love sports')

I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports

`10` => `stoping criteria` of, for loop

* `in` => keyword
* `sequence` => on which to itterate
* `:` => colon , start of for loop

`!=` = not equall to => `behaves as a stoping criteria`

In [34]:
# Syntax of while loop
"""
while comparison:
    statements(s)
"""

'\nwhile comparison:\n    statements(s)\n'

In [35]:
# while loop

# save 0 in variable number
number = 0  # Initialize counter variable

# print till 10 using while loop
# while loop continues as long as condition is True
while number < 10:
    print(number)      # Print current value
    number = number + 1  # Increment by 1 (can also use number += 1)

0
1
2
3
4
5
6
7
8
9

* Initialized variable `number = 0` and then increment it's value in each iteration
* Loop will only continue to run only if value is less than 10

# **`Type of Jump Statements`** <br>
`Break Statement`
`Continue Statement`

# **`Break Statement`**

In [36]:
# example that uses break statement in a for loop

# take range(10) and print 'The number is' + value
# break when num equals 5

# break statement exits the loop completely
for num in range(10):
    if num == 5:
        # When num reaches 5, exit the loop
        break
    # This prints for num = 0, 1, 2, 3, 4
    print('The number is', num)

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4

# **`Continue Statement`**

In [37]:
# Using same `for loop program` as in Break Statement section above
# Use a continue statement rather than a break statement

# take range(10) and print 'The number is' + value
# continue when num equals 5

# continue statement skips current iteration and moves to next
for num in range(10):
    if num == 5:
        # Skip printing when num is 5
        continue
    # This prints for all numbers except 5
    print('The number is', num)

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4
The number is 6
The number is 7
The number is 8
The number is 9

# **`String Manipulation`**

In [38]:
string_ = '' or "" or """ """

In [39]:
# define a string variable with "We are creating next generation data science eco-system at CollegeRanker"

# Creating a string variable
# Strings are sequences of characters enclosed in quotes
string_var = "We are creating next generation data science eco-system at CollegeRanker"
print(string_var)

We are creating next generation data science eco-system at CollegeRanker

In [40]:
# Find length of string including spaces

# len() function returns the total number of characters in a string
# This includes letters, numbers, spaces, and special characters
print(len(string_var))  # Output: 73

72

In [41]:
# Access characters in a string with indexing i.e string[0]

# Indexing starts at 0 in Python
# string[0] gives the first character
print(string_var[0])   # Output: 'W' (first character)
print(string_var[3])   # Output: 'a' (fourth character)

W
a

In [42]:
# Access characters with negative indexing i.e string[-1]

# Negative indexing starts from the end
# -1 is the last character, -2 is second last, and so on
print(string_var[-1])   # Output: 'r' (last character)
print(string_var[-2])   # Output: 'e' (second last character)

r
e

# String Slicing

In [43]:
# select string from first to 6th element i.e string[:6]

# Slicing syntax: string[start:end]
# start is inclusive, end is exclusive
# [:6] means from index 0 to 5 (6 characters)
print(string_var[:6])  # Output: 'We are'

We are

In [44]:
# select string from 7th to negative 10th element i.e string[7:-10]

# Combining positive and negative indices in slicing
# [7:-10] means from index 7 to 10th character from the end
print(string_var[7:-10])  # Output: 'creating next generation data science eco-system at C'

creating next generation data science eco-system at Col

Count of a particular `character` in a string

In [45]:
# Count of a particular character in a string

# count() method returns how many times a character/substring appears
print(string_var.count('e'))   # Count of 'e' in the string
print(string_var.count('a'))   # Count of 'a' in the string

13
7

Count of a particular `sub-string` in a string

In [46]:
# Count of a particular sub-string in a string

# count() also works with substrings (multiple characters)
print(string_var.count('data'))      # Count of 'data' substring
print(string_var.count('science'))   # Count of 'science' substring

1
1

Find a substring in string using `find` and `index` function

In [47]:
# .find() => if present it will return starting index, not found then it will return -1
# .index() => if present it will return starting index, not found then it will give error

# find() - returns index or -1 if not found (safer)
print(string_var.find('data'))       # Returns starting index of 'data'
print(string_var.find('xyz'))        # Returns -1 (not found)

# index() - returns index or raises ValueError if not found
print(string_var.index('science'))   # Returns starting index of 'science'
# print(string_var.index('xyz'))     # This would raise an error!

32
-1
37

In [48]:
### Checking whether string `startswith` or `endswith` a particular substring or not

# startswith() - checks if string begins with specified substring
print(string_var.startswith('We'))           # True
print(string_var.startswith('Hello'))        # False

# endswith() - checks if string ends with specified substring
print(string_var.endswith('CollegeRanker'))  # True
print(string_var.endswith('data'))           # False

True
False
True
False

In [49]:
### Converting string to upper case ###

# upper() - converts all characters to uppercase
print(string_var.upper())

# lower() - converts all characters to lowercase
print(string_var.lower())

WE ARE CREATING NEXT GENERATION DATA SCIENCE ECO-SYSTEM AT COLLEGERANKER
we are creating next generation data science eco-system at collegeranker

In [50]:
### Converting only first character of string to upper case

# capitalize() - makes first character uppercase, rest lowercase
print(string_var.capitalize())

# title() - capitalizes first letter of each word
print(string_var.title())

We are creating next generation data science eco-system at collegeranker
We Are Creating Next Generation Data Science Eco-System At Collegeranker

In [51]:
### Checking if string is in lower case or upper case

# islower() - returns True if all characters are lowercase
print(string_var.islower())   # False

# isupper() - returns True if all characters are uppercase
print(string_var.isupper())   # False

# Testing with actual lowercase/uppercase strings
print("hello".islower())      # True
print("HELLO".isupper())      # True

False
False
True
True

In [52]:
### Checking if string is digit, alpabetic, alpha-numeric

# isdigit() - returns True if all characters are digits
print("12345".isdigit())        # True
print("123abc".isdigit())       # False

# isalpha() - returns True if all characters are alphabetic
print("Hello".isalpha())        # True
print("Hello123".isalpha())     # False

# isalnum() - returns True if all characters are alphanumeric (letters or digits)
print("Hello123".isalnum())     # True
print("Hello 123".isalnum())    # False (space is not alphanumeric)

True
False
True
False
True
False

In [53]:
# assign "C++ is easy to learn" to a new_str variable

# Creating a new string variable
new_str = "C++ is easy to learn"
print(new_str)

C++ is easy to learn

In [54]:
### Replace C++ with Python

# replace(old, new) - replaces all occurrences of old substring with new
# Note: Strings are immutable, so this creates a new string
new_str_replaced = new_str.replace("C++", "Python")
print(new_str_replaced)  # Output: "Python is easy to learn"

Python is easy to learn

In [55]:
### Use Split function on new_str ###

# split() - splits string into a list of words (default separator: whitespace)
words_list = new_str.split()
print(words_list)  # Output: ['C++', 'is', 'easy', 'to', 'learn']

# split() with custom separator
sentence = "apple,banana,cherry"
print(sentence.split(','))  # Output: ['apple', 'banana', 'cherry']

['C++', 'is', 'easy', 'to', 'learn']
['apple', 'banana', 'cherry']

# **`Python Functions`**

In [56]:
"""
def function_name():
    stetement(s)
"""

'\ndef function_name():\n    stetement(s)\n'

In [57]:
# define a function with welcome_message(name) and body 'Welcome to Functions !!!'

# def keyword is used to define a function
# name is a parameter that the function accepts
def welcome_message(name):
    """This function prints a welcome message with the user's name"""
    print('Welcome to Functions !!!')
    print(f'Hello, {name}!')  # Using f-string to include the name

In [58]:
# call a function with your name

# Calling the function by its name and passing an argument
welcome_message("Piyu")  # Replace with your actual name

Welcome to Functions !!!
Hello, Piyu!

* `def` Keyword marking start of function
* `function name` to uniquely identify function
    * `function naming` follows same `rules of writing identifiers`
* `parameters`(arguments) to pass values to a function => totally optional
* `()` paranthesis
* `colon (:)` start of function
* `documentation string`(docstring) describe's what function does => totally optional
* `return statement` returns a value from function => totally optional
* inside colon is `function definition` it should always be present before function call or get an error

In [59]:
# Write a function to add two number which are as 3 and 4
# in total variable store adition of 3 + 4
# print total variable 

# Defining a function that adds two numbers
def add_numbers(a, b):
    """Function to add two numbers and return the sum"""
    total = a + b  # Adding the two parameters
    print(total)   # Printing the result
    return total   # Returning the result

# Calling the function with values 3 and 4
add_numbers(3, 4)  # Output: 7

7

7

# ***`Positional Arguments`*** 
Most arguments are identified by their position in function call
* Say `print(x,y)` will give different results from `print(y,x)`

What ever sequence is given while defining a function values must be taken in that sequence only
* Otherwise use argument name **`(keyword arguments)`** to take values
* We first define `positional argument` and then `keyword arguments`

In [60]:
## Create substraction_function(small_number,large_number) and return difference between large_number and small_number

# Function with positional parameters
def substraction_function(small_number, large_number):
    """
    Subtracts small_number from large_number
    Returns the difference
    """
    difference = large_number - small_number
    return difference

In [61]:
# pass arguments in right order

# Positional arguments: order matters!
# First argument goes to small_number, second to large_number
result = substraction_function(5, 10)  # 10 - 5 = 5
print(result)  # Output: 5

5

In [62]:
# always pass arguments using there name(keyword arguments) then order does not matter

# Keyword arguments: specify parameter names, order doesn't matter
result = substraction_function(large_number=20, small_number=8)
print(result)  # Output: 12 (20 - 8)

# Another example with different order
result2 = substraction_function(small_number=3, large_number=15)
print(result2)  # Output: 12 (15 - 3)

12
12

# ***`Scope of Variables`*** means that part of program where we can access particular variable
* `Local Variable` => variables defined inside a function and can be only accessed from inside of that particular function
* `Global Variable` => variables defined outside a function and can be accessed throughout program

Let's define a global variable, `"global_variable"` outside function
* We will return its value using a function `"randome_function"` and see that we would be able to access its value using that function also

In [63]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # accessing variable which is outside of this function
    return global_variable

In [64]:
random_function()

'variable outside of function'

`See we can acess the data of golbal variable from Inside of the Function`

# **`=> Let's see what will happen if we try to change value of global variable from Inside of the Function`**

In [65]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # changing value of global variable from inside of the function
    global_variable = 'changing variable outside of function from inside of function'
    # accessing variable which is outside of this function
    return global_variable

In [66]:
print(random_function())
print(global_variable)

changing variable outside of function from inside of function
variable outside of function