<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'

# An empty list is created using empty square brackets []
# Lists are mutable, ordered collections that can hold multiple data types
a = []

In [2]:
# print the value of a

# Printing the empty list - will show []
print(a)  # Output: []

[]

In [3]:
# print the type of a

# type() function returns the data type of a variable
print(type(a))  # Output: <class 'list'>

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [4]:
# Creating a list with mixed data types (strings and integer)
# Lists can contain elements of different data types
languages = ['R', 'Python', 'SAS', 'Scala', 42]
print(languages)

['R', 'Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [5]:
# len() function returns the number of elements in a list
print(len(languages))  # Output: 5 (there are 5 elements in the list)

5

Using for loop iterate and print all the elements in the list

In [6]:
# Using for loop to iterate through each element in the list
# 'item' is a temporary variable that takes the value of each element
for item in languages:
    print(item)  # Prints each element on a new line

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [7]:
# Indexing in Python starts at 0
# So the second item is at index 1
temp = languages[1]  # Selecting 'Python' (index 1)

Print the value of temp and type(temp)

In [8]:
# Printing the value and type of temp
print(temp)        # Output: Python
print(type(temp))  # Output: <class 'str'> (it's a string)

Python
<class 'str'>

Append the element 'Java' in the list

In [9]:
# append() method adds an element to the end of the list
# It modifies the original list in place
languages.append('Java')
print(languages)  # Java is now added at the end

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [10]:
# remove() method removes the first occurrence of the specified value
# It modifies the original list
languages.remove(42)  # Removing the integer 42 from the list
print(languages)  # Output: ['R', 'Python', 'SAS', 'Scala', 'Java']

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [11]:
# Creating a new list with color names
colors = ['Red', 'Blue', 'White']
print(colors)

['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [12]:
# append() adds element at the END of the list
colors.append('Black')
print(colors)  # Output: ['Red', 'Blue', 'White', 'Black']

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [13]:
# insert(index, element) adds element at a SPECIFIC position
# insert(1, 'Orange') inserts 'Orange' at index 1 (second position)
colors.insert(1, 'Orange')
print(colors)  # Output: ['Red', 'Orange', 'Blue', 'White', 'Black']

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

In [14]:
# Printing the current state of the colors list
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [15]:
# Creating another list with more colors
colors2 = ['Grey', 'Sky Blue']
print(colors2)

['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [16]:
# extend() adds all elements of another list to the end
# Unlike append(), extend() adds elements individually, not as a nested list
colors.extend(colors2)
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [17]:
# Printing the length and all elements of the colors list
print("Length of colors:", len(colors))  # Total number of elements
print("Elements:", colors)  # All elements in the list

Length of colors: 7
Elements: ['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [18]:
# sort() method sorts the list in alphabetical/ascending order
# It modifies the original list in place
colors.sort()
print(colors)  # Elements are now in alphabetical order

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [19]:
# Creating a string variable with a sentence
sent = 'Coronavirus Caused Lockdowns Around The World.'
print(sent)

Coronavirus Caused Lockdowns Around The World.

Use split function to convert the string into a list of words and save it in variable words and print the same

In [20]:
# split() method splits a string into a list of words
# By default, it splits on whitespace (spaces)
words = sent.split()
print(words)  # Output: ['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [21]:
# Using list comprehension to convert each word to lowercase
# lower() method converts string to lowercase
words_lower = [word.lower() for word in words]
print(words_lower)  # All words are now in lowercase

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [22]:
# 'in' keyword checks if an element exists in the list
# Returns True if found, False otherwise
print('country' in words_lower)  # Output: False (country is not in the list)

False

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [23]:
# remove() removes the first occurrence of the specified element
# Note: 'the' exists in words_lower (converted from 'The')
words_lower.remove('the')
print(words_lower)  # 'the' is now removed from the list

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [24]:
# Slicing: list[start:end] - end is exclusive
# [:4] means from index 0 to 3 (first 4 elements)
x4 = words_lower[:4]

In [25]:
# print x4

# Printing the first 4 words from the list
print(x4)  # Output: first 4 words

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [26]:
# join() method combines list elements into a single string
# ' '.join(list) - uses space as separator between elements
joined_string = ' '.join(x4)
print(joined_string)  # Output: words joined by spaces

coronavirus caused lockdowns around

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [27]:
# Creating a list with duplicate grade values
# Lists allow duplicate elements
stud_grades = ['A', 'A', 'B', 'C', 'C', 'F']
print(stud_grades)

['A', 'A', 'B', 'C', 'C', 'F']

Print the len of stud_grades

In [28]:
# len() counts total elements including duplicates
print(len(stud_grades))  # Output: 6

6

Create a new variable, stud_grades_set = set(stud_grades)

In [29]:
# set() converts a list to a set, removing all duplicates
# Sets only store unique elements
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [30]:
# Printing the set - notice duplicates are removed
# Set order may vary as sets are unordered
print(stud_grades_set)  # Output: {'A', 'B', 'C', 'F'}

{'B', 'C', 'A', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [31]:
# Comparing list and set
print("Type of stud_grades:", type(stud_grades))      # <class 'list'>
print("Type of stud_grades_set:", type(stud_grades_set))  # <class 'set'>

print("\nList elements (with duplicates):", stud_grades)
print("Set elements (unique only):", stud_grades_set)
# Notice: List has 6 elements, Set has only 4 (duplicates removed)

Type of stud_grades: <class 'list'>
Type of stud_grades_set: <class 'set'>

List elements (with duplicates): ['A', 'A', 'B', 'C', 'C', 'F']
Set elements (unique only): {'B', 'C', 'A', 'F'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [32]:
# add() method adds a new element to the set
# Sets use add() instead of append()
stud_grades_set.add('G')
print(stud_grades_set)  # 'G' is now added to the set

{'G', 'B', 'C', 'A', 'F'}

Add element 'F' to stud_grades_set. and print it.

In [33]:
# Trying to add 'F' which already exists
# Sets ignore duplicates - 'F' won't be added again
stud_grades_set.add('F')
print(stud_grades_set)  # No change - 'F' was already present

{'G', 'B', 'C', 'A', 'F'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [34]:
# remove() removes a specific element from the set
# Raises KeyError if element doesn't exist
stud_grades_set.remove('F')
print(stud_grades_set)  # 'F' is now removed

{'G', 'B', 'C', 'A'}

Print the elements and the length of stud_grades_set

In [35]:
# Printing elements and length of the set
print("Elements:", stud_grades_set)
print("Length:", len(stud_grades_set))

Elements: {'G', 'B', 'C', 'A'}
Length: 4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [36]:
# Creating two lists - one with colors, one with fruits
# Notice 'orange' appears in both (it's both a color and a fruit!)
colors = ['red', 'blue', 'orange']
fruits = ['orange', 'grapes', 'apples']

Print color and fruits

In [37]:
# Printing both lists
print("Colors:", colors)
print("Fruits:", fruits)

Colors: ['red', 'blue', 'orange']
Fruits: ['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [38]:
# Converting lists to sets for set operations
colors_set = set(colors)
fruits_set = set(fruits)

print("Colors Set:", colors_set)
print("Fruits Set:", fruits_set)

Colors Set: {'red', 'blue', 'orange'}
Fruits Set: {'apples', 'grapes', 'orange'}

Find the union of both the sets.

In [39]:
# union() - combines all elements from both sets (no duplicates)
# Can also use | operator: colors_set | fruits_set
union_result = colors_set.union(fruits_set)
print("Union:", union_result)  # All unique elements from both sets

Union: {'red', 'grapes', 'apples', 'blue', 'orange'}

Find the intersection of both the sets

In [40]:
# intersection() - finds common elements in both sets
# Can also use & operator: colors_set & fruits_set
intersection_result = colors_set.intersection(fruits_set)
print("Intersection:", intersection_result)  # Output: {'orange'}

Intersection: {'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [41]:
# difference() - elements in first set but NOT in second set
# fruits_set.difference(colors_set) = fruits that are not colors
difference_result = fruits_set.difference(colors_set)
print("Fruits but not colors:", difference_result)  # {'grapes', 'apples'}

Fruits but not colors: {'apples', 'grapes'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [42]:
# Creating a list with mixed data types
# Lists can contain int, string, and float together
temp = [17, 'Virat', 50.0]
print(temp)

[17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [43]:
# Iterating through the list using for loop
for item in temp:
    print(item)  # Prints each element on a new line

17
Virat
50.0

replace first element with 11 in temp

In [44]:
# Lists are mutable - we can change elements by index
# Replacing first element (index 0) with 11
temp[0] = 11
print(temp)  # Output: [11, 'Virat', 50.0]

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [45]:
# tuple() converts a list to a tuple
# Tuples are immutable (cannot be changed after creation)
temp1 = tuple(temp)
print(temp1)  # Output: (11, 'Virat', 50.0)

(11, 'Virat', 50.0)

Iterate through temp1 and print all the items in temp1.

In [46]:
# Tuples can also be iterated using for loop
for item in temp1:
    print(item)

11
Virat
50.0

replace first element with 17 in temp1

In [47]:
# Attempting to modify a tuple will raise a TypeError
# Tuples are IMMUTABLE - they cannot be changed!
temp1[0] = 17  # This will raise: TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [ ]:
# Creating a tuple with city information
# Tuples use parentheses ()
city = ("Bangalore", 28.9949521, 72)
print(city)

Print first element of city

In [ ]:
# Tuples support indexing just like lists
# Index 0 is the first element
print(city[0])  # Output: Bangalore

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [ ]:
# Creating another tuple with different city data
city2 = ('Chennai', 30.01, 74)
print(city2)

Create cities which consist of city and city2

In [ ]:
# Creating a tuple containing other tuples (nested tuple)
# This is called tuple of tuples
cities = (city, city2)
print(cities)

Print cities

In [ ]:
# Printing the nested tuple
print(cities)
# Output: (('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [ ]:
# cities[0] gives the first tuple (city)
# So the type of cities[0] is tuple
print(type(cities[0]))  # Output: <class 'tuple'>

print the type of cities

In [ ]:
# The outer container is also a tuple
print(type(cities))  # Output: <class 'tuple'>
# This confirms we have nested tuples!

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [ ]:
# Creating a dictionary with key-value pairs
# Dictionaries use curly braces {} with key:value format
d = {"actor": "amir", "animal": "cat", "earth": 2, "list": [23, 32, 12]}
print(d)

Print the value of d[0]

In [ ]:
# Dictionaries use KEYS to access values, not numeric indices
# There is no key '0' in this dictionary, so it will raise KeyError
print(d[0])  # KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [ ]:
# Accessing dictionary values using keys
# d['actor'] returns the value associated with key 'actor'
actor = d['actor']
print(actor)  # Output: amir

Print the type of actor

In [ ]:
# Checking the type of the value stored in 'actor'
print(type(actor))  # Output: <class 'str'> (it's a string)

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [ ]:
# Dictionary values can be any data type, including lists
# Storing the list value in a new variable
List = d['list']
print(List)  # Output: [23, 32, 12]

Print the type of List.

In [ ]:
# The value stored was a list
print(type(List))  # Output: <class 'list'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [ ]:
# Creating another dictionary with music information
d1 = {'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}
print(d1)

Merge d1 into d.

In [ ]:
# update() method merges another dictionary into the current one
# All key-value pairs from d1 are added to d
d.update(d1)
print("Merged dictionary:", d)

print d

In [ ]:
# Printing the merged dictionary
print(d)

Print all the keys in d

In [ ]:
# keys() method returns all keys in the dictionary
print(d.keys())
# Output: dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [ ]:
# values() method returns all values in the dictionary
print(d.values())
# Output: dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [ ]:
# items() method returns key-value pairs as tuples
# We can iterate using for loop with two variables
for key, value in d.items():
    print(f"{key} ----> {value}")

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [ ]:
# Counting character occurrences in a string using dictionary
# Using the 'sent' variable from earlier
sent = 'Coronavirus Caused Lockdowns Around The World.'

# Create an empty dictionary to store counts
char_count = {}

# Iterate through each character in the string
for char in sent:
    # If character already exists, increment count
    if char in char_count:
        char_count[char] += 1
    # If character is new, add it with count 1
    else:
        char_count[char] = 1

# Print the character count dictionary
print("Character counts:")
print(char_count)