# <center>Pandas Assignment</center>

Import pandas and numpy with their aliases

In [1]:
# Import pandas library with alias 'pd' for data manipulation and analysis
import pandas as pd

# Import numpy library with alias 'np' for numerical operations
import numpy as np

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [2]:
# Create a Pandas Series 'a' with values 100, 200, 300, 400
# A Series is a one-dimensional labeled array capable of holding any data type
a = pd.Series([100, 200, 300, 400])

Print a, and data type

In [3]:
# Print the series 'a' - shows index and values
print("Series a:")
print(a)

# Print the data type of series 'a' - it's a pandas Series object
print("\nData type of a:", type(a))

Series a:
0    100
1    200
2    300
3    400
dtype: int64

Data type of a: <class 'pandas.core.series.Series'>

Using indexing access the element 300 from the series a.

In [4]:
# Access element 300 from series 'a' using indexing
# Since default index starts from 0, 300 is at index position 2
print("Element at index 2:", a[2])

Element at index 2: 300

What are the values of index for series a?

In [5]:
# Get the index values of series 'a'
# By default, pandas assigns integer indices starting from 0
print("Index values of series a:")
print(a.index)

Index values of series a:
RangeIndex(start=0, stop=4, step=1)

Change the index to  ['c', 'a', 'b', 'd']

In [6]:
# Change the index of series 'a' to custom labels ['c', 'a', 'b', 'd']
# This allows us to access elements using these labels instead of numeric indices
a.index = ['c', 'a', 'b', 'd']
print("Series a with new index:")
print(a)

Series a with new index:
c    100
a    200
b    300
d    400
dtype: int64

Access the value in the series with index 'd'

In [7]:
# Access the value in the series with index 'd'
# Using label-based indexing to get the value at index 'd'
print("Value at index 'd':", a['d'])

Value at index 'd': 400

Sort the values wrt to the index and print it

In [8]:
# Sort the series by index using sort_index() method
# This arranges the series in alphabetical order of index labels (a, b, c, d)
a_sorted = a.sort_index()
print("Series sorted by index:")
print(a_sorted)

Series sorted by index:
a    200
b    300
c    100
d    400
dtype: int64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

In [9]:
# Create a new Pandas Series 'b' with custom index 'e', 'f', 'g'
# and values 800, 450, 100
b = pd.Series([800, 450, 100], index=['e', 'f', 'g'])
print("Series b:")
print(b)

Series b:
e    800
f    450
g    100
dtype: int64

Append b series at the end of a series

In [10]:
# Append series 'b' at the end of series 'a' using pd.concat()
# Note: append() method is deprecated in newer pandas versions, use concat() instead
a = pd.concat([a, b])

In [11]:
# Print series 'a' after appending 'b' into it
# Now it contains 7 elements with indices c, a, b, d, e, f, g
print("Series a after appending b:")
print(a)

Series a after appending b:
c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [12]:
# Sort the values in descending order using sort_values() with ascending=False
a = a.sort_values(ascending=False)

In [13]:
# Print the index of the sorted series
# The index shows the order of labels after sorting by values
print("Sorted series (descending):")
print(a)
print("\nIndex of sorted series:", a.index.tolist())

Sorted series (descending):
e    800
f    450
d    400
b    300
a    200
c    100
g    100
dtype: int64

Index of sorted series: ['e', 'f', 'd', 'b', 'a', 'c', 'g']

## Pandas DataFrame

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [14]:
# Create a DataFrame 'df' from the series 'a'
# A DataFrame is a 2-dimensional labeled data structure with columns
df = pd.DataFrame(a)
print("DataFrame created from series a:")
print(df)

DataFrame created from series a:
     0
e  800
f  450
d  400
b  300
a  200
c  100
g  100

In [15]:
# Additional view of the dataframe
df

     0
e  800
f  450
d  400
b  300
a  200
c  100
g  100

What is the shape of the datafarme <br>
(also, what does it imply?)

In [16]:
# Get the shape of the dataframe using .shape attribute
# Shape returns a tuple (rows, columns)
print("Shape of dataframe:", df.shape)
# This means the dataframe has 7 rows and 1 column

Shape of dataframe: (7, 1)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [17]:
# Check the index of the dataframe
# Yes, it's the same as series 'a' since df was created from 'a'
print("Index of dataframe:")
print(df.index)

Index of dataframe:
Index(['e', 'f', 'd', 'b', 'a', 'c', 'g'], dtype='object')

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [18]:
# Print the head of the dataframe (first 5 rows by default)
# head() is useful to quickly view the beginning of a dataset
print("Head of dataframe (first 5 rows):")
print(df.head())

Head of dataframe (first 5 rows):
     0
e  800
f  450
d  400
b  300
a  200

In [19]:
# Print the tail of the dataframe (last 5 rows by default)
# tail() is useful to quickly view the end of a dataset
print("Tail of dataframe (last 5 rows):")
print(df.tail())

Tail of dataframe (last 5 rows):
     0
d  400
b  300
a  200
c  100
g  100

Rename the column of the dataframe as 'points'

In [20]:
# Rename the column of the dataframe to 'points'
# columns attribute allows us to set new column names
df.columns = ['points']
print("DataFrame with renamed column:")
print(df)

DataFrame with renamed column:
   points
e     800
f     450
d     400
b     300
a     200
c     100
g     100

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

In [21]:
# Create a fruits array with 7 random elements from the given list
# np.random.choice() randomly selects elements from the given array
fruits_array = np.random.choice(['orange', 'mango', 'apple'], size=7)
print("Fruits array:")
print(fruits_array)

Fruits array:
['apple' 'mango' 'orange' 'orange' 'apple' 'apple' 'mango']

In [22]:
# Create a Pandas Series 'fruits' from the fruits array
fruits = pd.Series(fruits_array)
print("Fruits series:")
print(fruits)

Fruits series:
0     apple
1     mango
2    orange
3    orange
4     apple
5     apple
6     mango
dtype: object

Change the index of fruits to the index of dataframe df

In [23]:
# Change the index of fruits series to match the index of dataframe df
# This ensures alignment when adding fruits as a column to df
fruits.index = df.index
print("Fruits series with updated index:")
print(fruits)

Fruits series with updated index:
e     apple
f     mango
d    orange
b    orange
a     apple
c     apple
g     mango
dtype: object

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

In [24]:
# Add the fruits series as a new column 'fruits' to the dataframe df
# This creates a new column with the series values aligned by index
df['fruits'] = fruits

In [25]:
# Print the head of the dataframe to verify the new column was added
print("DataFrame with fruits column:")
print(df.head())

DataFrame with fruits column:
   points  fruits
e     800   apple
f     450   mango
d     400  orange
b     300  orange
a     200   apple

## Pandas Concatenation

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

In [26]:
# Create dataframe d1 with 'city' and 'Temperature' columns
# Using a dictionary to create a DataFrame
d1 = pd.DataFrame({
    'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'],
    'Temperature': [15, 22, 20, 26, -2]
})

Print(d1)

In [27]:
# Print the dataframe d1
print("Dataframe d1:")
print(d1)

Dataframe d1:
         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

What is the shape of d1.

In [28]:
# Get the shape of d1 - returns (rows, columns)
print("Shape of d1:", d1.shape)
# This means d1 has 5 rows and 2 columns

Shape of d1: (5, 2)

Set city = d1['city']

In [29]:
# Extract the 'city' column from d1 and store it in variable 'city'
# Selecting a single column returns a Pandas Series
city = d1['city']

print city <br>
What is the type of city.

In [30]:
# Print city and check its type
print("City column:")
print(city)
print("\nType of city:", type(city))
# It's a pandas Series, not a DataFrame

City column:
0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object

Type of city: <class 'pandas.core.series.Series'>

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

In [31]:
# Create another dataframe d2 with city and Temperature columns
d2 = pd.DataFrame({
    'city': ['Bengaluru', 'Coimbatore', 'Srirangam', 'Pondicherry'],
    'Temperature': [24, 35, 36, 39]
})

print the shape of this dataframe

In [32]:
# Print the shape of d2
print("Shape of d2:", d2.shape)

Shape of d2: (4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [33]:
# Merge/concatenate the two dataframes d1 and d2
# ignore_index=True resets the index to 0, 1, 2, ...
d3 = pd.concat([d1, d2], ignore_index=True)
print("Merged dataframe d3:")
print(d3)

Merged dataframe d3:
          city  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           26
4       Manali           -2
5    Bengaluru           24
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

In [34]:
# Select cities where temperature is less than or equal to 20
# Using boolean indexing to filter rows
cities_temp_le_20 = d3[d3['Temperature'] <= 20]
print("Cities with temperature <= 20:")
print(cities_temp_le_20)
print("\nNumber of cities:", len(cities_temp_le_20))

Cities with temperature <= 20:
         city  Temperature
0  Chandigarh           15
2      Kanpur           20
4      Manali           -2

Number of cities: 3

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [35]:
# Select cities where temperature is greater than or equal to 35
cities_temp_ge_35 = d3[d3['Temperature'] >= 35]
print("Cities with temperature >= 35:")
print(cities_temp_ge_35)

Cities with temperature >= 35:
          city  Temperature
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39

## Applying functions to columns and creating new columns

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not. 
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [36]:
# Function to check if a city is a Union Territory (UT)
# Returns True if the city is Chandigarh, Delhi, or Pondicherry
def is_ut(x):
    # List of Union Territories in our dataset
    union_territories = ['Chandigarh', 'Delhi', 'Pondicherry']
    # Return True if city is in the list, else False
    return x in union_territories

# Apply the function to the 'city' column to create a new column 'is_ut'
d3['is_ut'] = d3['city'].apply(is_ut)

In [37]:
# Print d3 to see the new 'is_ut' column
print("Dataframe d3 with is_ut column:")
print(d3)

Dataframe d3 with is_ut column:
          city  Temperature  is_ut
0   Chandigarh           15   True
1        Delhi           22   True
2       Kanpur           20  False
3      Chennai           26  False
4       Manali           -2  False
5    Bengaluru           24  False
6   Coimbatore           35  False
7    Srirangam           36  False
8  Pondicherry           39   True

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT - 
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [38]:
# Function to convert Celsius to Fahrenheit
# Formula: F = (C * 9/5) + 32
def c_to_f(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

In [39]:
# Test the c_to_f function with 10°C
# Expected output: 50°F
print("c_to_f(10) =", c_to_f(10))

c_to_f(10) = 50.0

In [40]:
# Apply the c_to_f function to create a new column 'temp_fahrenheit'
# apply() method applies a function along an axis of the DataFrame
d3['temp_fahrenheit'] = d3['Temperature'].apply(c_to_f)
print("Dataframe d3 with temp_fahrenheit column:")
print(d3)

Dataframe d3 with temp_fahrenheit column:
          city  Temperature  is_ut  temp_fahrenheit
0   Chandigarh           15   True             59.0
1        Delhi           22   True             71.6
2       Kanpur           20  False             68.0
3      Chennai           26  False             78.8
4       Manali           -2  False             28.4
5    Bengaluru           24  False             75.2
6   Coimbatore           35  False             95.0
7    Srirangam           36  False             96.8
8  Pondicherry           39   True            102.2

## Indexing and selecting rows in DataFrame

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [41]:
# Select subset of d3 where cities are Union Territories
# Using the is_ut column we created earlier
ut_cities = d3[d3['is_ut'] == True]
print("Cities that are Union Territories:")
print(ut_cities)

Cities that are Union Territories:
          city  Temperature  is_ut  temp_fahrenheit
0   Chandigarh           15   True             59.0
1        Delhi           22   True             71.6
8  Pondicherry           39   True            102.2

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [42]:
# Select cities where temperature is above 90°F
# Using boolean indexing on the temp_fahrenheit column
cities_above_90f = d3[d3['temp_fahrenheit'] > 90]
print("Cities with temperature above 90°F:")
print(cities_above_90f)

Cities with temperature above 90°F:
          city  Temperature  is_ut  temp_fahrenheit
6   Coimbatore           35  False             95.0
7    Srirangam           36  False             96.8
8  Pondicherry           39   True            102.2

Select only the first three rows of the dataframe d1.

In [43]:
# Select only the first three rows of the dataframe d3
# Using iloc for integer-location based indexing
print("First 3 rows of d3:")
print(d3.iloc[:3])

First 3 rows of d3:
         city  Temperature  is_ut  temp_fahrenheit
0  Chandigarh           15   True             59.0
1       Delhi           22   True             71.6
2      Kanpur           20  False             68.0

Select all the rows and last two columns in the dataframe.

In [44]:
# Select all rows and last two columns in the dataframe
# Using iloc with : for all rows and -2: for last two columns
print("All rows with last two columns:")
print(d3.iloc[:, -2:])

All rows with last two columns:
   is_ut  temp_fahrenheit
0   True             59.0
1   True             71.6
2  False             68.0
3  False             78.8
4  False             28.4
5  False             75.2
6  False             95.0
7  False             96.8
8   True            102.2

## Groupby

In [45]:
# Create a sample dataframe for demonstrating groupby operations
# Contains sales data with product categories, regions, and values
data = pd.DataFrame({
    'Category': ['Electronics', 'Clothing', 'Electronics', 'Food', 'Clothing', 'Food', 'Electronics', 'Clothing'],
    'Region': ['North', 'South', 'North', 'East', 'North', 'South', 'East', 'East'],
    'Sales': [1500, 800, 2000, 300, 950, 450, 1800, 700],
    'Quantity': [10, 20, 15, 50, 25, 60, 12, 30]
})
print("Sample dataframe 'data':")
print(data)

Sample dataframe 'data':
      Category Region  Sales  Quantity
0  Electronics  North   1500        10
1     Clothing  South    800        20
2  Electronics  North   2000        15
3         Food   East    300        50
4     Clothing  North    950        25
5         Food  South    450        60
6  Electronics   East   1800        12
7     Clothing   East    700        30

In [46]:
# Groupby single column 'Category' with aggregate sum()
# This calculates the total sales and quantity for each category
print("Groupby Category with sum():")
print(data.groupby('Category').sum())

Groupby Category with sum():
                     Region  Sales  Quantity
Category
Clothing     SouthNorthEast   2450        75
Electronics  NorthNorthEast   5300        37
Food              EastSouth    750       110

In [47]:
# Groupby single column 'Category' with aggregate count()
# This counts the number of rows for each category
print("Groupby Category with count():")
print(data.groupby('Category').count())

Groupby Category with count():
             Region  Sales  Quantity
Category
Clothing          3      3         3
Electronics       3      3         3
Food              2      2         2

In [48]:
# Groupby single column 'Category' with min() and max()
# Using agg() to apply multiple aggregate functions
print("Groupby Category with min() and max():")
print(data.groupby('Category').agg(['min', 'max']))

Groupby Category with min() and max():
            Region        Sales       Quantity
               min    max   min   max      min max
Category
Clothing      East  South   700   950       20  30
Electronics   East  North  1500  2000       10  15
Food          East  South   300   450       50  60

In [49]:
# Groupby two columns 'Category' and 'Region' with mean()
# This calculates the average sales and quantity for each category-region combination
print("Groupby Category and Region with mean():")
print(data.groupby(['Category', 'Region']).mean())

Groupby Category and Region with mean():
                     Sales  Quantity
Category    Region
Clothing    East     700.0      30.0
            North    950.0      25.0
            South    800.0      20.0
Electronics East    1800.0      12.0
            North   1750.0      12.5
Food        East     300.0      50.0
            South    450.0      60.0

In [50]:
# Groupby two columns 'Category' and 'Region' with min() and max()
print("Groupby Category and Region with min() and max():")
print(data.groupby(['Category', 'Region']).agg(['min', 'max']))

Groupby Category and Region with min() and max():
                   Sales       Quantity
                     min   max      min max
Category    Region
Clothing    East     700   700       30  30
            North    950   950       25  25
            South    800   800       20  20
Electronics East    1800  1800       12  12
            North   1500  2000       10  15
Food        East     300   300       50  50
            South    450   450       60  60

In [51]:
# Additional: Display summary statistics
print("Summary statistics:")
print(data.describe())

Summary statistics:
             Sales   Quantity
count     8.000000   8.000000
mean   1062.500000  27.750000
std     630.617611  18.258071
min     300.000000  10.000000
25%     637.500000  14.250000
50%     875.000000  22.500000
75%    1575.000000  35.000000
max    2000.000000  60.000000

## Data Range

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [52]:
# Create a pandas date range from Jan 1, 2020 to April 1, 2021
# pd.date_range() generates a DatetimeIndex with fixed frequency
a = pd.date_range(start='2020-01-01', end='2021-04-01')

print a

In [53]:
# Print the date range 'a'
print("Date range a:")
print(a)

Date range a:
DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
               '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
               '2021-03-31', '2021-04-01'],
              dtype='datetime64[ns]', length=457, freq='D')

What is the len of a?

In [54]:
# Get the length of the date range
# This tells us the number of days between the start and end dates
print("Length of date range a:", len(a))

Length of date range a: 457

What is the type of a?

In [55]:
# Check the type of 'a'
# It's a DatetimeIndex - a special index for datetime data in pandas
print("Type of a:", type(a))

Type of a: <class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [56]:
# Assignment completed! 
print("Pandas Assignment Day 10 - Completed!")

Pandas Assignment Day 10 - Completed!